/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/* Base Styles */
/*
  Hint: these tend to be
  1. element selectors
  2. concerned with color and typography
  3. basic element presenation
*/

/*
  Setting type with a 4:3 modular scale
  http://www.modularscale.com/?18&px&1.333
*/
html {
  font-family: Arial, sans-serif;
  font-size: 1.125em;
  line-height: 1.222em;
}

body {
  padding-top: 2.444em;
  padding-right: 1.222em;
  padding-left: 1.222em;

  background: linear-gradient(black, #430A4A);
}
footer {
  color: white;
}

h1,
h2,
h3,
h4,
p,
figcaption {
  padding-bottom: 1.222em;
  color: white;
}

h1 {
  padding-top: 1.222em;
  padding-bottom: 0.516em;
  line-height: 1.222em;
  font-size: 1.666em;
  font-weight: bold;
  color: gold;
}

h2 {
  line-height: 1.222em;
  font-size: 1.555em;
  color: gold;
}

a {
  color: #817A87;
}

li {
  padding-bottom: 0.611em;
  color: white;
}

ul {
  list-style-type: none;
  padding-bottom: 1.222em;
}

li ul {
  padding-left: 1.222em;
  padding-top: 0.611em;
  list-style-type: circle;
}

.reslist li {
  color: #817A87;
}

li li:last-child {
  padding-bottom: 0;
}

img,
video,
audio {
  display: block;
  max-width: 100%;
}

/* Layout Styles */
/*
  Hint: these tend to be
  1. IDs; but also classes, sometimes
  2. concerned with layout and spatial
     relationships
*/


#navigation {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

#navigation li {
  float: left;
  width: 33.3333333333%;
}

#navigation a {
  display: block;
  width: 100%;
  padding-top: 0.611em; /* 11 / 18 = 0.611 */
  padding-bottom: 0.611em;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #430A4A;
  border-color: black;
  border-width: 1em;
}

#navigation a:hover {
  background-color: #772EAA;
}

#home #nav-home a,
#resume #nav-res a,
#interests #nav-int a {
  background-color: #817A87;
}

/* Modular Styles */
/*
  Repeating style patterns.
  Hint: these tend to be:
  1. classes and relationship selectors
  2. concerned with adjustments to base styles,
      spacing, color, etc. etc.
*/

.reshead {
  text-decoration: underline;
}

.intlist {
  list-style-type: disc;
}

#navigation ul,
#navigation li {
  list-style-type: none;
  padding-bottom: 0;
}

.flexbox #navigation ol {
  display: flex;
}
.flexbox #navigation li {
  float: none;
}

/* State Styles */
/*
  States of the browser and user access
  conditions.
  Hint: these tend to be:
  1. Driven by media queries
  2. Influenced by JavaScript
  3. Organized by Base, Layout, Module, State
*/

@media screen and (min-width: 375px) {
  body {
    padding-right: 11.73333333%; /* 44 / 375 = 11.73333333% */
    padding-left: 11.73333333%; /* 44 / 375 = 11.73333333% */
  }
}

@media screen and (min-width: 640px) {
  html {
    font-size: 1.25em; /* 20 / 16 = 1.25em */
  }
}
/*divide by 16 to get em units for media 53.75em*/
@media screen and (min-width: 860px) {
  html {
    font-size: 1.38em;
  }
  body {
    padding-right: 9.302325581%;
    padding-left: 9.302325581%;
  }

  #primary,
  #header {
    width: 100%;
    float: center;
    text-align: center;
  }

  #homeimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #sports {
    width: 47.5%;
    float: left;
  }

  #games {
    width: 47.5%;
    float: left;
    padding-left: 5%;
  }

  .flexbox #content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;

  }

  .flexbox #primary {
    justify-content: center;
  }

  .flexbox #education,
  .flexbox #workexp,
  .flexbox #volunteerexp,
  .flexbox #res-footer {
    display: flex;
    justify-content: space-around;
  }

  #rescontent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1.38em;
    padding-top: 1.222em;
  }

  /*JavaScript CSS*/
  .slideshow {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 35em;
    height: 35em;
    padding-bottom: 1.222em;
  }

  .slideshow img {
    max-width: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

}
