Html {
font-size: 1.125em ;
line-height : 1.222em;
}
Body {
padding-top: 44px;
padding-right: 22px;
padding-left: 22px;
}
H1,
h2,
h3,
h4,
p {
padding-bottom: 1.222em;
}
Li {
padding-bottom: 0.611em;
}
Ol,ul {
padding-bottom: 0.611em;
}
Ol {
list-style-type: decimal;
}
Ul {
list-style-type: square;
}
