html {
  font-size: 1.125em;
  line-height: 1.222em;
}

body {
  padding-top: 2.444em;
  padding-right: 1.222em;
  padding-left: 1.222em;
}

h1,
h2,
h3,
h4,
p {
  padding-bottom: 1.222em;
  color: purple;
}

li {
  padding-bottom: 0.611em;
}

ol, ul {

  padding-bottom: 0.611em;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: square;
}

img,
video,
audio {

}
